<template>
	<div class="row" id="userSeederContainer">
		<div class="col-12 form-title">
            Boolean Searching
        </div>
        <div class="col-8 offset-2 form-container">
            <form id="userForm">
                <div class="form-group row">
                    <label for="title" class="col-3 col-form-label">Search : </label>
                    <div class="col-9">
                        <input class="form-control" type="text" v-model="query1" required>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-6">
                        <input type="radio" v-model="stem" value="NostopWord">No stop word 
                        <input type="radio" v-model="stem" value="stopWord">stop word 
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 d-flex justify-content-end">
                        <button type="button" 
                                class="col-2 m-l-1 btn btn-primary" 
                                @click="search">
                            Search
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div v-if="resultQuery.length != 0" class="col-10 offset-1 form-container data-result">
            <h2>Results have {{resultQuery.length}} songs </h2>
            <form id="userForm">
                <div v-for="(dataRow,index) in dict">
                    <div v-if="resultQuery.indexOf(index) != -1"  class="row">
                        <span><strong>{{ dataRow.song }} </strong></span>
                        <span>&emsp;By&emsp;:&emsp;{{dataRow.artist}}</span></br></br>
                        <span>&emsp;&emsp;{{ dataRow.text }}</span></br>
                    </div>
                </div>
                
            </form>
        </div>
	</div>
</template>

<script>
import moment from 'moment';
import dictStem from '../../assests/json/dictStem.json';
import dict from '../../assests/json/dict.json';
import dictStemList from '../../assests/json/dictCountStem.json';
import stopWord from '../../assests/json/stopWord.json';
import song from '../../assests/json/song.json';
export default {
    name: 'boolean',

    components: {
        // 
    },
    
    data () {
        return {
            dictStem,
            dict,
            dictStemList,
            stopWord,
            song,
            query1: '',
            query2: '',
            query3: '',
            operator1: 'or',
            operator2: 'or',
            operators: ["and","or","not"],
            stem: 'NostopWord',
            resultQuery: [],
        }
    },

    computed: {

    },

    methods: {
        search() {
            let stemmer = require('stemmer');
            let queryData1 = this.query1.trim().toLowerCase().replace(/[\/\\#,+()$~%.":*?<>{}]/g, "").split(" ");
            let queryCheckOperator = this.query1.trim().toLowerCase();
            let queryList1 = [];
            let operatorList = [];
            let operatorIndexList = [];
            let lastOperator = "&";
            let listOperator = ['&','&&','!','|','||'];
            let startQuery = 0;
            if(this.stem == "stopWord"){
                for(let i in queryData1){
                    if(queryData1[i] != ''){
                        if(listOperator.indexOf(queryData1[i]) == -1){
                            if(this.stopWord.indexOf(stemmer(queryData1[i])) == -1){
                                if(startQuery == 0){
                                    if(this.dictStem[stemmer(queryData1[i])]!= undefined){
                                        if(lastOperator == "&" || lastOperator == "&&"){
                                            queryList1 = _.intersection(this.dictStem[stemmer(queryData1[i])]);
                                            startQuery = 1;
                                        }
                                        else if(lastOperator == "|" || lastOperator == "||"){
                                            queryList1 = _.union(this.dictStem[stemmer(queryData1[i])]);
                                            startQuery = 1;
                                        }
                                        else{
                                            queryList1 = _.difference(rangeList(this.song),this.dictStem[stemmer(queryData1[i])]);
                                            startQuery = 1;
                                        }
                                    }
                                }
                                else{
                                    if(this.dictStem[stemmer(queryData1[i])]!= undefined){
                                        if(lastOperator == "&" || lastOperator == "&&"){
                                            queryList1 = _.intersection(queryList1,this.dictStem[stemmer(queryData1[i])]);
                                            startQuery = 1;
                                        }
                                        else if(lastOperator == "|" || lastOperator == "||"){
                                            queryList1 = _.union(queryList1,this.dictStem[stemmer(queryData1[i])]);
                                            startQuery = 1;
                                        }
                                        else{
                                            queryList1 = _.difference(queryList1,this.dictStem[stemmer(queryData1[i])]);
                                            startQuery = 1;
                                        }
                                    }
                                }
                            }
                        }
                        else{
                            lastOperator = queryData1[i];
                        }
                    }
                }
                queryList1 = _.intersection(queryList1);
            }
            else{
                for(let i in queryData1){
                    if(queryData1[i] != ''){
                        if(listOperator.indexOf(queryData1[i]) == -1){
                            if(startQuery == 0){
                                if(this.dictStem[stemmer(queryData1[i])]!= undefined){
                                    if(lastOperator == "&" || lastOperator == "&&"){
                                        queryList1 = _.intersection(this.dictStem[stemmer(queryData1[i])]);
                                        startQuery = 1;
                                    }
                                    else if(lastOperator == "|" || lastOperator == "||"){
                                        queryList1 = _.union([],this.dictStem[stemmer(queryData1[i])]);
                                        startQuery = 1;
                                    }
                                    else{
                                        queryList1 = _.difference(rangeList(this.song),this.dictStem[stemmer(queryData1[i])]);
                                        startQuery = 1;
                                    }
                                }
                            }
                            else{
                                if(this.dictStem[stemmer(queryData1[i])]!= undefined){
                                    if(lastOperator == "&" || lastOperator == "&&"){
                                        queryList1 = _.intersection(queryList1,this.dictStem[stemmer(queryData1[i])]);
                                        startQuery = 1;
                                    }
                                    else if(lastOperator == "|" || lastOperator == "||"){
                                        queryList1 = _.union(queryList1,this.dictStem[stemmer(queryData1[i])]);
                                        startQuery = 1;
                                    }
                                    else{
                                        queryList1 = _.difference(queryList1,this.dictStem[stemmer(queryData1[i])]);
                                        startQuery = 1;
                                    }
                                }
                            }
                        }
                        else{
                            lastOperator = queryData1[i];
                        }
                    }
                }
                queryList1 = _.intersection(queryList1);
            }
            this.resultQuery = queryList1;
        },
        make_it_bold(input,wordToBold){
            return input.replace(new RegExp('(\\b)(' + wordsToBold.join('|') + ')(\\b)','ig'), '$1<b>$2</b>$3');
        },
        rangeList(data){
            let result = [];
            for(let i = 1; i <= data.length; i++){
                result.push(i);
            }
            return result
        }
    },

    mounted: function () {
       //
    }
}
</script>

<style lang="scss">
@import "../../scss/variable.scss";

.form-container {
    background-color: $black-lighter;
    margin-top: 1rem;
}

.form-container > form {
    padding: 1rem 0rem;
}

.form-title {
    background-color: $black-lighter;
    padding: 5px 0px;
    text-align: center;
    font-size: 1.5rem;
}

.m-l-1 {
    margin-left: 1rem;
}

button:hover, select:hover {
    cursor: pointer;
}
.data-result{
    padding-left:4em;
    padding-right:4em;
    position: relative;
    height: 300px;
    overflow-y: scroll;
}
</style>