<template>
	<div class="row" id="userSeederContainer">
		<div class="col-12 form-title">
            Keyword Searching
        </div>
        <div class="col-8 offset-2 form-container">
            <form id="userForm">
                <div class="form-group row">
                    <label for="title" class="col-3 col-form-label">Search : </label>
                    <div class="col-9">
                        <input class="form-control" type="text" v-model="query1" required>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-6">
                        <input type="radio" v-model="stem" value="NostopWord">No stop word 
                        <input type="radio" v-model="stem" value="stopWord">stop word 
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 d-flex justify-content-end">
                        <button type="button" 
                                class="col-2 m-l-1 btn btn-primary" 
                                @click="search">
                            Search
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div v-if="Object.keys(resultQuery).length != 0" class="col-10 offset-1 form-container data-result">
            <h2>Results have {{resultQuery.length}} songs </h2>
            <form id="userForm">
                <div v-for="(dataRow,index) in resultQuery">
                    <div v-for="(dataRowDict,indexDict) in dict[parseInt(dataRow[0])+1]">
                        <span v-if='indexDict == "song"'><strong>{{dataRowDict}}</strong>&emsp;&emsp;Cosine score: {{dataRow[1].cosineScore.toFixed(3)}}</span>
                        <span v-if='indexDict == "text"'>{{dataRowDict}}</span></br>
                    </div>
                </div>
                
            </form>
        </div>
	</div>
</template>

<script>
import moment from "moment";
import tReader from "typy";
import dictStem from "../../assests/json/dictStem.json";
import dict from "../../assests/json/dict.json";
import dictStemList from "../../assests/json/dictCountStem.json";
import stopWord from "../../assests/json/stopWord.json";
import song from "../../assests/json/song.json";
export default {
  name: "cosine",

  components: {
    //
  },

  data() {
    return {
      dictStem,
      dict,
      dictStemList,
      stopWord,
      song,
      query1: "",
      stem: "NostopWord",
      resultQuery: {}
    };
  },

  computed: {
    //
  },

  methods: {
    search() {
      var stemmer = require("stemmer");
      let queryData1 = this.query1
        .trim()
        .toLowerCase()
        .split(" ");
      let queryList1 = [];
      let countQuery = {};
      let x = [];
      let y = [];
      let cosineAnswer = {};
      if (this.stem == "stopWord") {
        for (let i in queryData1) {
          if (queryData1[i] != "") {
            if (this.stopWord.indexOf(stemmer(queryData1[i])) == -1) {
              queryList1.push(stemmer(queryData1[i]));
            }
          }
        }
      } else {
        for (let i in queryData1) {
          if (queryData1[i] != "") {
            queryList1.push(stemmer(queryData1[i]));
          }
        }
      }
      for (let i in queryList1) {
        if (countQuery[queryList1[i]] != undefined) {
          countQuery[queryList1[i]] = countQuery[queryList1[i]] + 1;
        } else {
          countQuery[queryList1[i]] = 1;
        }
      }

      for (let songIndex in this.song) {
        let songName = this.song[songIndex];
        let tmpListdict = {};
        let listdict = {};
        let totalWordInSong = 0;
        for (let keyIndex in countQuery) {
          tmpListdict[keyIndex] = tReader(
            this.dictStemList,
            songName + "[0]" + "." + keyIndex
          ).safeNumber;
          listdict[keyIndex] = tmpListdict[keyIndex];
          totalWordInSong = totalWordInSong + tmpListdict[keyIndex];
        }
        for (let key in tmpListdict) {
          listdict[key] = this.tfIdf(totalWordInSong, tmpListdict, key);
        }
        let tmpCosine = this.cosine(listdict, countQuery);
        if (tmpCosine != 0) {
          if (tmpCosine > 1) {
            tmpCosine = 1;
          }
          cosineAnswer[songIndex] = { song: songName, cosineScore: tmpCosine };
        }
      }
      this.resultQuery = this.sortProperties(cosineAnswer);
    },
    cosine(data1, data2) {
      let absData1 = 0;
      let absData2 = 0;
      let up = 0;
      let dataList1 = [];
      let dataList2 = [];
      for (let key in data1) {
        up = up + data1[key] * data2[key];
        absData1 = absData1 + Math.pow(data1[key], 2);
        absData2 = absData2 + Math.pow(data2[key], 2);
        dataList1.push(data1[key]);
        dataList2.push(data2[key]);
      }
      if (Math.sqrt(absData1) + Math.sqrt(absData2) == 0) {
        return 0;
      } else {
        return up / (Math.sqrt(absData1) + Math.sqrt(absData2));
      }
    },
    sortProperties(obj) {
      // convert object into array
      let sortable = [];
      for (var key in obj) {
        if (obj.hasOwnProperty(key)) {
          sortable.push([key, obj[key]]); // each item is an array in format [key, value]
        }
      }
      // sort items by value
      sortable.sort(function(a, b) {
        return b[1].cosineScore - a[1].cosineScore; // compare numbers
      });
      return sortable; // array in format [ [ key1, val1 ], [ key2, val2 ], ... ]
    },
    tfIdf(total, wordCount, word) {
      let tf = 0;
      let idf = 0;
      if (total != 0) {
        if (wordCount[word] > 0) {
          tf = 1 + Math.log10(wordCount[word]);
        } else {
          tf = 0;
        }
      } else {
        tf = 0;
      }
      if (this.dictStem[word] != undefined) {
        if (this.dictStem[word].length != 0) {
          let n = this.song.length;
          let df = this.dictStem[word].length;
          idf = Math.log10(n / df);
        } else {
          idf = 0;
        }
      } else {
        idf = 0;
      }
      return tf * idf;
    }
  },

  mounted: function() {
    //
  }
};
</script>

<style lang="scss">
@import "../../scss/variable.scss";

.form-container {
  background-color: $black-lighter;
  margin-top: 1rem;
}

.form-container > form {
  padding: 1rem 0rem;
}

.form-title {
  background-color: $black-lighter;
  padding: 5px 0px;
  text-align: center;
  font-size: 1.5rem;
}

.m-l-1 {
  margin-left: 1rem;
}

button:hover,
select:hover {
  cursor: pointer;
}
.data-result {
  padding-left: 4em;
  padding-right: 4em;
  position: relative;
  height: 450px;
  overflow-y: scroll;
}
</style>