<template>
    <div class="row menu">
        <div class="col-12" v-for="menu in menus" :key="menu.label">
            <div class="row">
                <div class="col-12 d-flex align-items-center menu-item kbtn"
                     :class="isActive(menu)"
                     @click="select(menu)">
                    <span class="mdi mdi-24px" :class="menu.icon"></span>
                    <span class="menu-label">{{ menu.label }}</span>
                </div>

                <div class="col-12 sub-menu">
                    <div class="row sub-menu-item kbtn" 
                        v-for="subMenu in menu.subMenu"
                        :key="subMenu.label"
                        :class="isActive(subMenu)"
                        @click="select(subMenu)">
                        <span class="col-7 offset-3 sub-menu-label" 
                            style="padding-right: 0px;">
                            {{ subMenu.label }}
                        </span>
                        <!-- <i class="material-icons" style="color: #F44336;">report_problem</i> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { pageExist } from '../core/sidebar.js'

export default {
    name: 'MenuItem',

    components: {
        //
    },
    
    props: {
        menuData: {
            type: [Object, Array],
            required: true
        }
    },

    data () {
        return {
            menus: this.menuData
        }
    },

    methods: {
        select(menu) {
            if (menu.hasOwnProperty('path')) {
                if (pageExist(menu.path.name, this.menus)) {
                    router.push(menu.path)
                    this.$forceUpdate()
                }
            }
        },

        isActive(menu) {
            let res = { active: false };

            if (menu.hasOwnProperty('path')) {
                res.active = (menu.path.name === router.currentRoute.name)

                if (menu.path.hasOwnProperty('alias'))
                    res.active = res.active || menu.path.alias.includes(router.currentRoute.name)
            }

            return res;
        }
    },
    watch:{
        $route (to, from){
            this.$forceUpdate()
        }
    } 
}
</script>

<style lang="scss">
@import "../../../scss/variable.scss";

.menu {
    margin-top: 10px;

    .menu-item {
        border: 1px solid transparent;
        min-height: 40px;

        .menu-label {
            margin-left: 5px;
        }
    }

    .menu-item:hover, .sub-menu-item:hover {
        border: 1px solid $white;
    }

    .sub-menu-item {
        border: 1px solid transparent;
    }
}

</style>