<template>
    <div class="row profile-container">
        <!-- Login/Logout + User profile -->
        <div class="col-12 d-flex align-items-center user-profile">
            <img src="@/assests/images/default.png">
            <span class="user-name">Guest User</span>
            <div class="user-menu">
                <span class="mdi mdi-settings"></span>
            </div>
        </div>
        <!-- <div class="col-12">
            <button type="button" class="kbtn auth-btn">Log in</button>
        </div> -->
    </div>
</template>

<script>

export default {
    name: 'ProfilePanel',

    components: {
        //
    },
    
    props: {
        //
    },

    data () {
        return {
            //
        }
    },

    mounted: function() {
        //
    }
}
</script>

<style lang="scss">
@import "@/scss/variable.scss";

.profile-container {
    // border-top: 2px solid $white;
    // padding: 1rem 0rem;

    .user-profile {
        img {
            height: 40px;
            width: 40px;
        }

        span {
            margin-left: 10px;
        }

        .user-menu {
            position: absolute;
            right: 10px; 
            font-size: 1.25rem;
            cursor: pointer;

        }

        background-color: #ffa726;
        padding-top: 10px;
        padding-bottom: 10px;
        position: relative;
    }

    .auth-btn {
        border: 1px solid $white;
        background-color: transparent;
        height: 35px;
        width: 100%;
        margin-top: 15px;
        color: inherit;
    }
}

</style>