<template>
    <!-- Sidebar.vue -->
    <div>
        <div class="row logo-container">
            <img src="@/assests/images/icon_trans2.png">
        </div>


        <menu-item :menu-data="menus"></menu-item>

    </div>
</template>

<script>
import menuData from '../../js/menuData.js';
import MenuItem from './components/MenuItem';
import ProfilePanel from './components/ProfilePanel';

export default {
    name: 'Sidebar',

    components: {
        MenuItem,
        ProfilePanel,
    },

    props: {
        //
    },

    data () {
        return {
            menus: menuData,
            testData: {
                label: 'TestDropdown',
                data: {
                    0: {
                        label: 'menu1',
                        data: {
                            0: {
                                label: 'Go to user seeder',
                                action: () => { router.push('userSeeder') }
                            },
                            1: {
                                label: 'Hello World',
                                action: (v) => { v.$emit('hello', 'Yeah!') }
                            }
                        }
                    },
                    1: {
                        label: 'Go to room seeder',
                        action: () => { router.push('roomSeeder') }
                    }
                }
            },
            testID: "testDropdown"
        }
    },

    computed: {
        //
    },

    methods: {
        //
        test () {
            console.log('lol')
            this.$notify({
                type: 'success',
                title: 'Important message',
                text: 'Hello user! This is a notification!'
            })
        },

        test2 (v) {
            alert(v)
        }
    },

    mounted: () => {
        //
    }
}
</script>

<style lang="scss">
@import "@/scss/variable.scss";

.logo-container {
    max-height: 150px;
    margin-bottom: 1rem;
    
    img {
        padding: 5px 10px 0px 10px;
        width: -webkit-fill-available;
        object-fit: scale-down;
    }
}

</style>