<template>
<div id="app">
    <div class="container">
        <div class="middle-page" style="margin-top: 2rem; padding-bottom: 1rem;">
            <h1>Test Boostrap and Vue Js By Yanyong</h1>
        </div>
        <h2 class="middle-page">Control NodeMCU</h2>
        <div style="padding: 1rem;">
            <div v-for="led in leds" class="col-12 alert" :class="'alert-success'" >
                <div class="row">
                    <div class="col-6 middle-page">
                        <h3>
                            {{ledState(led['.value'])}}
                        </h3>
                    </div>
                    <div class="col-6 middle-page">
                        <button @click.prevent="toggleLED(led)" style="font-size: 0.9rem;" class="btn" :class="stateClass(led['.value'])"> Click to turn {{buttonLedState(led['.value'])}}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    <!-- Alerts -->
    </div>
  </div>
</template>

<script>

import HelloWorld from './components/HelloWorld'
import firebase from 'firebase/app'
import 'firebase/app'
import 'firebase/database'
const firebaseApp = firebase.initializeApp({
// Populate your firebase configuration data here.
    apiKey: "AIzaSyDGjmEfqLDwrQnt7a54bMA82F8oaraAu3g",
    authDomain: "user-manage-9db27.firebaseapp.com",
    databaseURL: "https://user-manage-9db27.firebaseio.com/",
    // storageBucket: "...",
    // messagingSenderId: "..."
    });
let db = firebaseApp.database();

export default {
    name: 'App',
    components: {
        HelloWorld
    },
    firebase: function () {
        return {
            firebase_user : db.ref('user'),
            firebase_led  : db.ref('node')
        }
    },
    data () {
        return {
            newFirstName : '',
            newLastName  : '',
        };
    },
    computed :{
        users(){
            return this.firebase_user
        },
        leds(){
            return this.firebase_led
        }
    },
    methods:{
        test(){
            console.log('toey na')
        },
        addUser(){
            return db.ref('user').push({
                firstname   : this.newFirstName,
                lastname    : this.newLastName
            })
        },
        clickAddUser(){
            if(this.newFirstName === '' || this.newLastName === '')
                console.log('cannot save')
            else{
                this.addUser()
                this.resetForm()               
            }

        },
        ledState(val){
            if(val === 1)
                return 'ON'
            return 'OFF'
        },
        buttonLedState(val){
            if(val === 0)
                return 'ON'
            return 'OFF'
        },
        toggleLED(ledVal){
            let value = null
            if(ledVal['.value'] === 1)
            {
                value = 0
            }else{
                value = 1
            }
            db.ref('node/led').set(value)
        },
        stateClass(val){
            if(val === 1)
                return 'btn-danger'
            return 'btn-success'

        },
        deleteUser(deletedUser){
            db.ref('user').child(deletedUser['.key']).remove()
        },
        resetForm(){
            this.newFirstName = null
            this.newLastName = null
        }
    },
    async mounted(){

    }

}


</script>

<!-- <style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style> -->
<style lang="scss">
@import './styles/custom-bootstrap.scss';
@import '../node_modules/bootstrap/scss/bootstrap.scss';
</style>