<template>
<div id="app">
    <div @click="clickShow()" class="container">
        test
    </div>
    <div>
        count of user is {{ userCount }}
    </div>
    <user-compoent :userName="testName">
    </user-compoent>
    <div style="padding: 1rem;">
        <div v-for="user in firebaseUsers" 
             class="col-12 alert" 
             :class="'alert-success'" >
            <div class="row">
                <div class="col-6 middle-page">
                    <h3>
                        {{ user.firstname }} {{ user.lastname }}
                    </h3>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12" style="display: flex;">
        <div class="col-6">
            First name
        </div>
        <div class="col-6">
            <input v-model="newFirstName">
        </div>
    </div>
    <div class="col-12 pt-3" style="display: flex;">
        <div class="col-6">
            Last name
        </div>
        <div class="col-6">
            <input v-model="newLastName">
        </div>
    </div>
    <button class="ml-5" @click="addUser()" >Click to add</button>
    <br>
<!--     <div class="container">
        <div class="middle-page" style="margin-top: 2rem; padding-bottom: 1rem;">
            <h1>Test Boostrap and Vue Js By Yanyong</h1>
        </div>
        <h2 class="middle-page">Control NodeMCU</h2>
        <div style="padding: 1rem;">
            <div v-for="led in leds" class="col-12 alert" :class="'alert-success'" >
                <div class="row">
                    <div class="col-6 middle-page">
                        <h3>
                            {{ledState(led['.value'])}}
                        </h3>
                    </div>
                    <div class="col-6 middle-page">
                        <button @click.prevent="toggleLED(led)" style="font-size: 0.9rem;" class="btn" :class="stateClass(led['.value'])"> Click to turn {{buttonLedState(led['.value'])}}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
  </div>
</template>

<script>

import HelloWorld from './components/HelloWorld'
import userCompoent from './components/userCompoent'
import { db } from './env.js'


export default {
    name: 'App',
    components: {
        HelloWorld,
        userCompoent
    },
    firebase: function () {
        return {
            firebase_user : db.ref('user')
        }
    },
    data () {
        return {
            names : ['name1','name2','name3'],
            users : [
                {
                    id : 1,
                    name : 'Dee Ja',
                    lastName : 'Last name 1'
                },
                {
                    id : 2,
                    name : 'dee kub',
                    lastName : 'Last name 2'
                }
            ],
            apiData : null,
            testName : 'Toey',
            newFirstName : null,
            newLastName : null,
        };
    },
    computed :{
        userCount(){
            return this.names.length
        },
        firebaseUsers(){
            return this.firebase_user
        },
    },
    methods:{
        clickShow(){
            console.log('was clicked',this.names)
        },
        addUser(){
            return db.ref('user').push({
                firstname   : this.newFirstName,
                lastname    : this.newLastName
            })

            this.newFirstName = null
            this.newLastName = null
        }
    },
    mounted:()=>{
        console.log('mounted')
    },
    created:()=> {
        console.log('created')
    }


}


</script>

<!-- <style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style> -->
<style lang="scss">
@import './styles/custom-bootstrap.scss';
@import '../node_modules/bootstrap/scss/bootstrap.scss';
</style>