<template>
<div id="app">
    <div class="container">
      <div style="margin-top: 2rem; padding-bottom: 1rem;"><h1>Test Boostrap and Vue Js By Yanyong</h1></div>
    <form style="padding: 1rem">
    <div class="form-group">
        <label >First Name</label>
            <input type="text" class="form-control" v-model="newFirstName" placeholder="First Name">
    </div>
    <div class="form-group">
        <label >Last Name</label>
            <input type="text" class="form-control" v-model="newLastName" placeholder="Last Name">
    </div>
        <button @click.prevent="clickAddUser" class="btn btn-primary">Add User</button>
    </form>
    <h2>ALL Users</h2>
    <div style="padding: 1rem;">
        <div v-for="user in users" class="col-12 alert" :class="'alert-success'" >
            <div class="row">
                <div class="col-9">
                    <strong>First Name :</strong> {{ user.firstname }} <br> 
                    <strong>Last Name :</strong> {{ user.lastname }}          
                </div>
                <dir class="col-3">
                    <button @click.prevent="deleteUser(user)" style="font-size: 0.9rem;" class="btn btn-danger"> Delete User
                    </button>
                </dir>
            </div>
        </div>
    </div>
    <!-- Alerts -->
    <h2>Alerts</h2>
    <div style="padding: 1rem;">
        <div v-for="brand in ['success', 'info', 'warning', 'danger']" class="alert" :class="'alert-' + brand">
          <strong>Well done!</strong> You successfully read this {{brand}} alert message.
        </div>
    </div>
    <h2>Breadcrumb</h2>
    <div style="padding: 1rem;">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Library</a></li>
        <li class="breadcrumb-item active">Data</li>
      </ol>
    </div>
    <!-- Buttons-->
    <h2>Buttons</h2>
    <div style="padding: 1rem;">
        <div v-for="type in ['', 'outline']" :key="type">
          <span v-for="brand in ['primary', 'secondary', 'success', 'info', 'warning', 'danger']" :key="brand">
            <button role="button" class="btn" :class="'btn-' + (type.length ? (type + '-') : '') + brand" style="margin-bottom: 1rem; margin-right: 1rem;">
              {{brand}} {{type}}
            </button>
          </span>
        </div>
    </div>
    <!-- Progress-->
    <h2>Progress</h2>
    <div style="padding: 1rem;">
      <div v-for="brand in ['success', 'info', 'warning', 'danger']" :key="brand" class="progress" style='margin-bottom: 1rem;'>
        <div class="progress-bar" :class="'bg-' + brand" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>
    <!-- Notice-->
    <h2>My Modal of Toey</h2>
    <div style="padding: 1rem;">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Modal body text goes here.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" @click="test">Save changes</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Spacing utilities-->
    <h2>Spacing utilities</h2>
    <div style="padding: 1rem;">
      <div v-for="brand in ['success', 'info', 'warning', 'danger']" :key="brand" class="progress" style='margin-bottom: 1rem;'>
        <div class="progress-bar" :class="'bg-' + brand" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>
    </div>
  </div>
</template>

<script>

import HelloWorld from './components/HelloWorld'
import firebase from 'firebase/app'
import 'firebase/app'
import 'firebase/database'
const firebaseApp = firebase.initializeApp({
// Populate your firebase configuration data here.
    apiKey: "AIzaSyDGjmEfqLDwrQnt7a54bMA82F8oaraAu3g",
    authDomain: "user-manage-9db27.firebaseapp.com",
    databaseURL: "https://user-manage-9db27.firebaseio.com/",
    // storageBucket: "...",
    // messagingSenderId: "..."
    });
let db = firebaseApp.database();

export default {
    name: 'App',
    components: {
        HelloWorld
    },
    firebase: function () {
        return {
            firebase_user : db.ref('user')
        }
    },
    data () {
        return {
            newFirstName : '',
            newLastName  : '',
        };
    },
    computed :{
        users(){
            return this.firebase_user
        }
    },
    methods:{
        test(){
            console.log('toey na')
        },
        addUser(){
            return db.ref('user').push({
                firstname   : this.newFirstName,
                lastname    : this.newLastName
            })
        },
        clickAddUser(){
            if(this.newFirstName === '' || this.newLastName === '')
                console.log('cannot save')
            else{
                this.addUser()
                this.resetForm()               
            }

        },
        deleteUser(deletedUser){
            db.ref('user').child(deletedUser['.key']).remove()
        },
        resetForm(){
            this.newFirstName = null
            this.newLastName = null
        }
    },
    async mounted(){

    }

}


</script>

<!-- <style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style> -->
<style lang="scss">
@import './styles/custom-bootstrap.scss';
@import '../node_modules/bootstrap/scss/bootstrap.scss';
</style>