<template>
	<div>
		{{ userName }}
	</div>
</template>

<script>
export default {

  name: 'userCompoent',

  props:{
  	userName :{
  		type : String,
  		default : null
  	}
  },

  data () {
    return {

    }
  }
}
</script>

<style lang="scss" scoped>
</style>