<template>
	<div class="container-fluid app-container">
		<div class="row">
			<div class="col-2 sidebar-container">
				<sidebar></sidebar>
			</div>
			<div class="col-10 content-container">
				<router-view />
			</div>
			<notifications 
				class="noti-box"
				position="bottom right"/>
		</div>
	</div>
</template>

<script>
import Sidebar from "./modules/sidebar/Sidebar";
import './env.js'

export default {
	name: 'App',

	components: {
		Sidebar,
	},

	data() {
		return {
			//
		}
	},

	methods: {
		//
	},

	mounted: () => {
		console.log('mounted');
		setPageTitle('Overview');
	}
}
</script>

<style lang="scss">
@import "./scss/default.scss";

.app-container {
	background-color: $black-light;
	height: 100vh;
	color: $white;

	.sidebar-container {
		background-color: $black;
		height: 100vh;
	}

	.content-container {
		height: inherit;
	}

	.noti-box {
		.notification-title {
			font-size: 15px;
		}

		.notification-content {
			font-size: 15px;
		}
	}
}

</style>