<template>
	<div class="d-flex justify-content-center align-items-center template-content">
		<h1>This is a vue template!</h1>
	</div>
</template>

<script>
export default {
	name: 'VueTemplate'
}
</script>

<style lang="scss">
@import "@/scss/variable.scss";

.template-content {
	height: 100vh;	
}

</style>