// Styles using for whole app
@import "./variable.scss";

body {
	color: $white;
}

.kbtn:hover {
	cursor: pointer;
    background-color: $black-light !important;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.kbtn.active {
	background-color: $black-lighter !important;
	// border-bottom: 1px solid $white !important;
	color: $orange;
}

.fadein, .fadeout {
    opacity: 0;
    -moz-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
    -webkit-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
}
.fadein {
    opacity: 1;
}
.flex-container{
    display: flex;
}
.p-t-1{
    padding-top: 1rem;
}
.p-t-2{
    padding-top: 2rem;
}
.p-t-3{
    padding-top: 3rem;
}

.p-b-1{
    padding-bottom: 1rem;
}
.p-b-2{
    padding-bottom: 2rem;
}
.p-b-3{
    padding-bottom: 3rem;
}

.p-l-1{
    padding-left: 1rem;
}
.p-l-2{
    padding-left: 2rem;
}
.p-l-3{
    padding-left: 3rem;
}

.p-r-1{
    padding-right: 1rem;
}
.p-r-2{
    padding-right: 2rem;
}
.p-r-3{
    padding-right: 3rem;
}

.m-t-1{
    margin-top: 1rem;
}
.m-t-2{
    margin-top: 2rem;
}
.m-t-3{
    margin-top: 3rem;
}

.m-b-1{
    margin-bottom: 1rem;
}
.m-b-2{
    margin-bottom: 2rem;
}
.m-b-3{
    margin-bottom: 3rem;
}

.m-l-1{
    margin-left: 1rem;
}
.m-l-2{
    margin-left: 2rem;
}
.m-l-3{
    margin-left: 3rem;
}

.m-r-1{
    margin-right: 1rem;
}
.m-r-2{
    margin-right: 2rem;
}
.m-r-3{
    margin-right: 3rem;
}
::-webkit-scrollbar {
    height: 10px;
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.filter-room-class{
    border: 1px solid;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-left: 0.3rem;
    border-radius: 0.25rem;
    font-size: 1.25rem;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}